@page "/MainFormKey"
@using Company.AutomationOfThePurchasingActOfRestaurant.Client
@inject IPurchasingActOfRestaurantClient PurchasingClient
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@implements IDisposable

<PageTitle>Главная. Код формы</PageTitle>
<div align="center">
    <a class="navbar-brand" href="/">PurchasingActOfRestaurants</a>
</div>

<div>
    <button class="btn btn-primary" @onclick="AddFormKey">
        <i class="fas fa-plus"></i> Добавить Код формы
    </button>
</div>
<hr size="3" />
@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <th>ОКПО</th>
        <th>ОКДП</th>
        <th>ОКУД</th>
        <th>ИНН</th>
        <th>Действия</th>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Okpo</td>
                    <td>@item.Okdp</td>
                    <td>@item.Okud</td>
                    <td>@item.Tin</td>
                    <td>
                        <select class="form-control" @onchange="@(e => HandleActionSelection(e.Value.ToString(), item.Id))">
                            <option value="">Выберите действие</option>
                            <option value="Edit">Изменить</option>
                            <option value="Delete">Удалить</option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ICollection<FormKeyResponseModel>? items;

    private readonly CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {
        items = await PurchasingClient.GetAllFormKeysAsync(cancellationTokenSource.Token);
    }

    private async Task HandleActionSelection(string action, Guid id)
    {
        switch (action)
        {
            case "Edit":
                NavigationManager.NavigateTo($"/MainFormKey/EditFormKey/{id}");
                break;

            case "Delete":
                var confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "Вы уверены, что хотите удалить этот Код формы?");
                if (confirmed)
                {
                    await PurchasingClient.DeleteFormKeyAsync(id, cancellationTokenSource.Token);
                    var item = items.First(i => i.Id == id);
                    items.Remove(item);
                }
                break;
        }
    }

    private void AddFormKey()
    {
        NavigationManager.NavigateTo("/MainFormKey/CreateFormKey");
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }
}
